@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(250, 243, 232);
  min-height: 100vh;
}

#upload-image-wrapper {
  background-color: #ccc;
  border-radius: 4px;
  border: 2px dashed #aaa;

  &.drag-accept {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  &.drag-reject {
    background-color: #d4edda;
    border-color: palevioletred;
    color: red;
  }

  p {
    margin-bottom: 2rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  padding-left: 15px;
  margin: 0 auto;
}

#upload-image-wrapper {
  margin: 0 auto;
  min-width: 80%;
}

.center {
  min-width: fit-content;
}

.card {
  height: 250px;
  width: 100%;
}

.card-img-top {
  height: 250px;
  width: 100%;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}

.row {
  margin: 0;
}

.column {
  padding-left: 0;
  margin-bottom: 2rem;
}

h2 {
  display: flex;
  justify-content: center;
}

.formCard {
  height: 100%;
}

.formCol {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
